body {
    background-color: #202020;
    color: #ffffff;
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-y: scroll;
    height: 20000vh;
    position: relative;
}

#quote-container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-top: 20px;
    font-size: 150%;
}

p {
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

#bottom-image {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#bottom-image:hover {
    cursor: pointer;
}

#combined-container, #license-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-top: 20px;
}

#time-container, #quote-container {
    font-size: 200%;
}

#mit-license {
    font-style: italic;
}

#mit-header {
    font-style: normal;
}

.fa-github {
    max-width: 100px;
    margin-top: 20px;
}
